<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Shareholder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="conect"
    connectionString="data source=.;&#xD;&#xA; 
    initial catalog=Shareholder; integrated security=true"
    providerName="system.data.sqlclient"/>
  </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
    <userSettings>
        <Shareholder.Properties.Settings>
            <setting name="Percentageofwage_buy" serializeAs="String">
                <value />
            </setting>
            <setting name="Percentageofwage_sell" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="Percentageofwage_buy_defualt" serializeAs="String">
                <value>000464</value>
            </setting>
            <setting name="Percentageofwage_sell_default" serializeAs="String">
                <value>000975</value>
            </setting>
        </Shareholder.Properties.Settings>
    </userSettings>
</configuration>